:root{
    --background-color: #0F0F0F;
    --primary-color: white;
    --secondary-color: #7F8080;
    --tertiary-color: #242525;
    --blue-highlight: #31C4BE;
    --orange-highlight: #f2b236;
    --def-font: 'Montserrat', sans-serif;
}

/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    color: var(--primary-color);
}

body {
    background-color: var(--background-color);
    font-family: var(--def-font);   
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* NAVBAR */
nav {
    width: 50%;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    font-weight: 200;
    cursor: pointer;
}

/* HOME SECTION */

#home {
    display:flex;
    align-items: center;
    position:relative;
}

.nameholder p{
    font-weight: 200;
    text-shadow: var(--blue-highlight) 0.5px 0px 0px;
}

.nameholder h1 {
    font-size:  2em;
    font-weight: 700;
    text-shadow: var(--orange-highlight) 0 0 3px;
}

.socmed{
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
}

.icon{
    height: 50px;
    width: 50px;
    vertical-align: middle;
}

.me-pic{
    /* position: relative;
    transition: left 0.5s;
    left: -100px; */
    max-width: 100%;
    max-height: 93vh;
    margin: auto;
}

/* ABOUT SECTION */
#about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bioholder{
    text-align: justify;
    width: 500px;
}

.introduction {
    padding: 25px 0;
}

.introduction .course{
    color: var(--orange-highlight);
}

.introduction .school, .introduction .lab{
    color: var(--blue-highlight);
}

#about li{
    list-style: circle;
    list-style-position: inside;
    line-height: 1.5;
}

/* HOVER DESIGN */
.hoverable-text{
    transition: 0.2s;
}

.hoverable-text:hover{
    transition: 0.2s;
    text-decoration: underline;
    font-weight: 700;
}

.hoverable-icon:hover svg path {
    transition: 0.2s ;
    fill: var(--blue-highlight);
}

.hoverable-icon svg path{
    transition: 0.2s;
}

/* TEXT SELECTED DESIGN */
.text-selected {
    font-weight: 700;
    text-shadow: var(--orange-highlight) 1px 1px 10px;
}

/* ANIMATIONS */
.move-left{
    animation: move-left 1s ease-in-out forwards;
}

@keyframes move-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100px);
    }
}