@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #0f0f0f;
  --primary-color: white;
  --secondary-color: #7f8080;
  --tertiary-color: #242525;
  --blue-highlight: #31c4be;
  --orange-highlight: #f2b236;
  --def-font: "Montserrat", sans-serif;
}

* {
  color: var(--primary-color);
  font-family: var(--def-font);
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
}
