/* HOME SECTION */

#home {
    display:flex;
    align-items: center;
    position:relative;
    margin: 0 50px;
}

.name{
    color: var(--orange-highlight);
}

.nameholder-container{
    position: relative;
    overflow: hidden;
}

.nameholder{
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    min-width: 400px;
}

.nameholder p{
    font-weight: 200;
    text-shadow: var(--blue-highlight) 0.5px 0px 0px;
}

.nameholder h1 {
    font-size:  2em;
    font-weight: 700;
    text-shadow: var(--orange-highlight) 0 0 3px;
}

.socmed{
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
}

.me-pic{
    z-index: 1;
    max-width: 100%;
    max-height: 93vh;
    margin: auto;
}

/* ABOUT SECTION */

.bioholder-container{
    width: 0;
    overflow: hidden;
    position: relative;
    right: 280px;
}

.bioholder{
    display: flex;
    flex-direction: column;
    text-align: justify;
    min-width: 400px;
    overflow: hidden;
    position: relative;
    right: 400px;
}

.introduction {
    padding: 25px 0;
}

.introduction .course{
    color: var(--orange-highlight);
}

.introduction .school, .introduction .lab{
    color: var(--blue-highlight);
}

.bioholder ul li{
    list-style: circle;
    list-style-position: inside;
    line-height: 1.5;
}

/* ANIMATION */
.compress-nameholder{
    animation: compress-nameholder 1s forwards;
}

.expand-bioholder{
    animation: expand-bioholder 1s forwards 0.5s;
}

.expand-biotext{
    animation: expand-biotext 1s forwards 0.5s;
}

.expand-nameholder{
    animation: expand-nameholder 1s forwards 0.5s;
}

.compress-bioholder{
    animation: compress-bioholder 1s forwards;
}

.compress-biotext {
    animation: compress-biotext 1s forwards;
}

@keyframes compress-nameholder {
    0% {
        width: 400px;
        left: 0px;
    }
    30% {
        width: 400px;
    }
    100% {
        width: 0;
        left: 300px;
    }
}

@keyframes expand-bioholder{
    0% {
        width: 0;
        right: 300px;
    }
    70% {
        width: 400px;
    }
    100% {
        width: 400px;
        right: 0;
    }
}

@keyframes expand-biotext {
    0% {
        right: 400px;
    }
    70% {
        right: 0;
    }
    100% {
        right: 0;
    }
}

@keyframes expand-nameholder {
    0% {
        width: 0;
        left: 300px;
    }
    70% {
        width: 400px;
    }
    100% {
        width: 400px;
        left: 0;
    }
}

@keyframes compress-bioholder {
    0% {
        width: 400px;
        right: 0px;
    }
    30% {
        width: 400px;
    }
    100% {
        width: 0;
        right: 300px;
    }
}

@keyframes compress-biotext {
    0% {
        right: 0;
    }
    30% {
        right: 0;
    }
    100% {
        right: 400px;
    }
}